header {
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =========== Call To Action ============ */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =========== Socials =========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  /* left: 2.5rem; */
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--primary);
}

/* =========== ME =========== */
.me {
  background: linear-gradient(var(--primary), transparent);
  width: 22rem;
  height: 25rem;
  position: absolute;
  left: calc(50% - 11rem);
  /* left: 50%;
  transform: translateX(-50%); */
  margin-top: 3rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1rem 1.5rem;
}

/* =========== Scroll Down =========== */
.scroll__down {
  position: absolute;
  /* right: 1.5rem; */
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========= MEDIA QUERIES FOR LARGE DEVICES ========= */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ========= MEDIA QUERIES FOR SMALL DEVICES ========= */
@media screen and (max-width: 576px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
